.body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(125, 125, 68);
    text-align: center;
}

.div-parciales{
    background-color: rgb(179, 178, 175);
    border: solid 1px black;
    border-radius: 10px;
    padding-left: 20px;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 40px;
}
