.body {
    text-align: center;
    background-color: rgb(213, 213, 205);
    font-family: Arial, Helvetica, sans-serif;
}

.divClass {
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 50px;
    box-shadow: 10px;
    background-color: azure;
}

.infoClass {
    background-color: rgb(208, 204, 204);
    border-radius: 10px;
    padding-top: 10px;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
    box-shadow: 10px 5px 12px black;
}

.subTituloClass {
    background-color: rgb(143, 140, 140);
    border-radius: 10px;
    margin-left: 70px;
    margin-right: 70px;
}

.tituloClass {
    background-color: rgb(118, 113, 113);
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 10px;
}